<div class="separator">
    {{'SALESDETAIL.HEADER' | translate}}
</div>

<div class="cabecera text-white">
    <div class="mb-3">
        <label class="form-label ">
            {{'SALESDETAIL.NAME' | translate}}
        </label>
        <select class="form-select mb-3" [(ngModel)]="id_cliente" name="id_cliente">
            <option *ngFor="let cli of clientes" value="{{ cli.id_cliente }}">
                {{ cli.razon_social }}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">
            {{'SALESDETAIL.PAYMENTMETHOD' | translate}}
        </label>
        <select class="form-select mb-3" [(ngModel)]="id_forma_pago" name="id_forma_pago">
            <option *ngFor="let formas of FormasPago" value="{{ formas.id_forma_pago }}">
                {{ formas.forma_pago }}
            </option>
        </select>
    </div>
</div>

<div class="separator"> 
    {{'SALESDETAIL.SELLINGTITLE' | translate}}
</div>

<div class="sellingInLine">
    <button class="btn btn-primary addButton" (click)="insertToList()">
        <i class="fa fa-plus"></i>
        <span>
            {{'SALESDETAIL.ADDTOCART' | translate}}
        </span>
    </button>
    <div class="mb-3 selectOptionsdiv">
        <label class="form-label text-white">
            {{'SALESDETAIL.PRODUCT' | translate}}
        </label>
        <select class="form-select mb-3 selectOptions" [(ngModel)]="id_producto" name="id_producto" 
        (change)="selectProduct(id_producto)">
            <option *ngFor="let producto of productos" value="{{ producto.id_producto }}">
                {{ producto.descripcion }}
            </option>
        </select>
    </div>

    <div class="counters">
        <div class="mb-3 PrecioDiv">
            <label class="form-label text-white">
                {{'SALESDETAIL.PRICE' | translate}}
            </label>
             <input type="text" class="form-control" disabled="true" [(ngModel)]="importe">
        </div>
    
        <div class="mb-3 cantidadDiv">
            <label class="form-label text-white">
                {{'SALESDETAIL.AMOUNT' | translate}}
            </label>
             <input type="number" class="form-control" [(ngModel)]="cantidad" (ngModelChange)="updatePrices()">
        </div>
    
        <div class="mb-3 cantidadDiv">
            <label class="form-label text-white">
                {{'SALESDETAIL.TOTAL' | translate}}
            </label>
             <input type="text" class="form-control" disabled="true" [(ngModel)]="importe_r">
        </div>
    </div>

    
</div>


<div class="shadow tableMark border border-light">
    <h1 class="tableTitle text-decoration-underline">
        {{'SALESDETAIL.PRODUCTLIST' | translate}}
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> # </th>
                <th scope="col">
                    {{'SALESDETAIL.PRODUCT' | translate}}
                </th>
                <th scope="col">
                    {{'SALESDETAIL.PRICE' | translate}}
                </th>
                <th scope="col">
                    {{'SALESDETAIL.AMOUNT' | translate}}
                </th>
                <th scope="col">
                    {{'SALESDETAIL.TOTAL' | translate}}
                </th>
                <th scope="col">
                    {{'SALESDETAIL.DELETE' | translate}}
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let data of productosAVender | productosFilter: busquedavalue">
            <tr>
                <td scope="row">{{ data.id_producto }}</td>
                <td>{{ data.producto }}</td>
                <td>{{ data.importe }}</td>
                <td>{{ data.cantidad }}</td>
                <td>{{ data.importe_r }}</td>
                <td>
                    <button class="btn btn-danger btnBorrar" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    (click)="deleteFromList(data.id_producto)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td class="ml-1">
            {{ importe_total }}
        </td>
    </table>

</div>
<button class="btn btn-success insertButton" (click)="uploadDatabase()" *ngIf="showLoader">
    <i class="fa fa-check-circle"></i>
    <span> Confirmar venta </span>
</button>