

<div *ngIf="clientes === undefined" class="loadingScreen fadeInNav">
    <div class="spinner-border text-primary" role="status">
    </div>
    <h3 class="text-white " [class.cargandoText]="lang == 'es'"
    [class.cargandoTextEng]="lang != 'es'">
        {{'ABMCLIENTES.LOADING' | translate}}
    </h3>
</div>

<div *ngIf="clientes !== undefined">
    <div class="separator"> 
        {{'ABMCLIENTES.TITLE' | translate}}
    </div>
    
    <button class="btn btn-primary addButton" data-bs-toggle="modal" data-bs-target="#insertModal" (click)="createOpen()">
        <i class="fa fa-plus"></i>
        <span>
            {{'ABMCLIENTES.ADDCLIENTE' | translate}}
        </span>
    </button>
    
    <div class="shadow tableMark border border-light">
        <h1 class="tableTitle text-decoration-underline">
            {{'ABMCLIENTES.TABLETITLE' | translate}}
        </h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        {{'ABMCLIENTES.CLIENTENAME' | translate}}
                    </th>
                    <th scope="col">
                        {{'ABMCLIENTES.CLIENTEPHONE' | translate}}
                    </th>
                    <th scope="col">
                        {{'ABMCLIENTES.CLIENTELOCALIDAD' | translate}}
                    </th>
                    <th scope="col">
                        {{'ABMCLIENTES.ACTIONS' | translate}}
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let data of clientes | clientesFilter: busquedavalue">
                <tr>
                    <td scope="row">{{ data.id_cliente }}</td>
                    <td>{{ data.razon_social }}</td>
                    <td>{{ data.telefono }}</td>
                    <td>{{ data.localidad }}</td>
                    <td>
                        <button class="btn btn-danger btnBorrar" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        (click)="deleteOpen(data.id_cliente)">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-warning btnModificar" data-bs-toggle="modal" data-bs-target="#editModal"
                        (click)="modifyOpen(data.id_cliente, data.razon_social, data.telefono, data.cp)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="separator"></div>
    
    
    
      
    <!-- Modal de carga de clientes -->
    <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
        <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">
                {{'ABMCLIENTES.CARGARCLIENTE' | translate}}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
            <a *ngIf="errorTypes === 1">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'ABMCLIENTES.LACKNOMBRE' | translate}}
            </a>
            <a *ngIf="errorTypes === 2">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'ABMCLIENTES.LACKPHONE' | translate}}
            </a>
        </div>
    
        <form (ngSubmit)="insertCliente()">
            <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMCLIENTES.CLIENTENAME' | translate}}
                        </label>
                        <input type="text" class="form-control" placeholder="{{'ABMCLIENTES.CLIENTENAME' | translate}}"
                         name="nombre" [(ngModel)]="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMCLIENTES.CLIENTEPHONE' | translate}}
                        </label>
                        <input type="text" class="form-control" placeholder="{{'ABMCLIENTES.CLIENTEPHONE' | translate}}"
                         name="telefono" [(ngModel)]="telefono">
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMCLIENTES.CLIENTELOCALIDAD' | translate}}
                        </label>
                        <select class="form-select mb-3" [(ngModel)]="cp" name="cp">
                            <option disabled value="0">
                                {{'ABMCLIENTES.SELECTLOCALIDAD' | translate}}
                            </option>
                            <option *ngFor="let loc of localidades" value="{{ loc.cp }}">
                                {{ loc.localidad }}
                            </option>
                        </select>
                    </div>
    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{'ABMCLIENTES.CLOSE' | translate}}
                </button>
                <button type="button" class="btn btn-primary" type="submit"> {{'ABMCLIENTES.CARGAR' | translate}}
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
        </div>
        
    </div>
    </div>
    
    <!-- Modal de modificar de clientes -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    {{'ABMCLIENTES.MODIFICARCLIENTE' | translate}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
                <a *ngIf="errorTypes === 1">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{'ABMCLIENTES.LACKNOMBRE' | translate}}
                </a>
                <a *ngIf="errorTypes === 2">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{'ABMCLIENTES.LACKPHONE' | translate}}
                </a>
            </div>
        
            <form (ngSubmit)="modifyCliente()">
                <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label text-white">
                                {{'ABMCLIENTES.CLIENTENAME' | translate}}
                            </label>
                            <input type="text" class="form-control" placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">
                                {{'ABMCLIENTES.CLIENTEPHONE' | translate}}
                            </label>
                            <input type="text" class="form-control" placeholder="Teléfono" name="telefono" [(ngModel)]="telefono">
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">
                                {{'ABMCLIENTES.CLIENTELOCALIDAD' | translate}}
                            </label>
                            <select class="form-select mb-3" [(ngModel)]="cp" name="cp">
                                <option disabled value="0">
                                    {{'ABMCLIENTES.SELECTLOCALIDAD' | translate}}
                                </option>
                                <option *ngFor="let loc of localidades" value="{{ loc.cp }}">
                                    {{ loc.localidad }}
                                </option>
                            </select>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {{'ABMCLIENTES.CLOSE' | translate}}
                    </button>
                    <button type="button" class="btn btn-warning" type="submit"> 
                        {{'ABMCLIENTES.MODIFY' | translate}}
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </form>
            </div>
            
        </div>
        </div>
    
        <!-- Modal de borrar de clientes -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    {{'ABMCLIENTES.SURE' | translate}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <form (ngSubmit)="deleteCliente()">
                <div class="modal-body">
                        <h3 class="text-white">
                            {{'ABMCLIENTES.SUREDELETE' | translate}}
                        </h3>
        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {{'ABMCLIENTES.CLOSE' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger" type="submit">
                        {{'ABMCLIENTES.DELETE' | translate}}
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </form>
            </div>
            
        </div>
        </div>
</div>

