<div class="separator"></div>

<h1 class="titleMenu">Bienvenido al sistema de ABM hecho con Spring boot y Angular!</h1>

<div class="separator"></div>

<h3 class="opinions"> Dejá tus opiniones/comentarios! </h3>

<form class="opinionsForm border border-light" (ngSubmit)="cargarComentario()">
    <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
        <a *ngIf="errorTypes === 1">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Ha ocurrido algún error!!
        </a>
    </div>
    <div class="form-group text-white">
        <label for="exampleFormControlTextarea1">Escribe tu comentario</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"[(ngModel)]="textArea" name="textArea"></textarea>
    </div>
    <button type="submit" class="btn btn-primary send">Enviar</button>
</form>


<div *ngIf="show" class="text-white">
    <div class="comment" 
    *ngFor="let comment of comments">
 
       <div class ="profile-image">
         <img class="profile-image-img" src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png">
       </div>
       <div class ="username">{{ comment.usern }}</div>
       <div class ="user-comment">
         <h6>{{ comment.comment }}</h6>
         <div style ="clear:both;"></div>
         <span>{{ comment.fecha_diff }}</span>
       </div>
    </div>
 
</div>

<div class="farBottom">

</div>