<div class="separator"></div>

<h1 class="titleMenu">Bienvenido al sistema de ABM hecho con Spring boot y Angular!</h1>

<div class="separator"></div>

<h3 class="opinions"> Dejá tus opiniones/comentarios! </h3>

<form class="opinionsForm border border-light">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Escribe tu comentario</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary send">Enviar</button>
</form>

<div class="farBottom">

</div>