.titleNavBar
{
    padding-left: 1%;
    padding-right: 1%;
}

.nav-item
{
    cursor: pointer;
}

.nav-link
{
    cursor: pointer;
}

.dropdown-item
{
    cursor: pointer;
}

.mr-2
{
    margin-right: 2%;
}

// on mobile

@media (max-width: 767px)
{
    .closeSession
    {
        margin-left: 75%;
        margin-bottom: 2%;
    }
}

.navbar
{
    z-index: 1;
}

.langButton
{
    margin-right: 1%;
}