.titleNavBar
{
    padding-left: 1%;
    padding-right: 1%;
}

.nav-item
{
    cursor: pointer;
}

.nav-link
{
    cursor: pointer;
}

.dropdown-item
{
    cursor: pointer;
}

.mr-2
{
    margin-right: 2%;
}