<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand border border-danger rounded-pill titleNavBar"  href="/"> 
            ABM System 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>

            <div class="dropdown">
                 <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        ABM's
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" (click)="goAbmClientes()"> ABM Clientes </a></li>
                  <li><a class="dropdown-item" (click)="goAbmLocalidades()"> ABM Localidades </a></li>
                  <li><a class="dropdown-item" (click)="goAbmProvincias()"> ABM Provincias </a></li>
                  <li><a class="dropdown-item" (click)="goAbmProveedores()"> ABM Proveedores </a></li>
                </ul>
              </div>
            <li class="nav-item">
            <a class="nav-link" (click)="goAbout()">Sobre nosotros</a>
            </li>
        </ul>

        <button class="btn btn-danger mr-2" (click)="cerrarSession()">
            Cerrar sesión
        </button>
    
        <div class="searchVideos d-flex">
            <input class="form-control me-2"   placeholder="Buscar..."
            name="busquedavalue" 
            mdbInput
            [(ngModel)]="busquedavalue"
            type="search" placeholder="Buscar" aria-label="Search">
            
            <button class="btn btn-outline-danger" type="submit">Buscar</button>
            
        </div>
    
        </div>
    </div>
    </nav>

    <app-menu *ngIf="view !== null && view == ''"></app-menu>
    <app-about *ngIf="view !== null && view == 'about'"></app-about>
    <app-abmclientes *ngIf="view !== null && view == 'abmclientes'" [busquedavalue]="busquedavalue"></app-abmclientes>
    <app-localidades *ngIf="view !== null && view == 'abmlocalidades'" [busquedavalue]="busquedavalue"></app-localidades>
    <app-abmprovincias *ngIf="view !== null && view == 'abmprovincias'" [busquedavalue]="busquedavalue"></app-abmprovincias>
    <app-abmproveedores *ngIf="view !== null && view == 'abmproveedores'" [busquedavalue]="busquedavalue"></app-abmproveedores>
    <app-page-not-found *ngIf="view !== null && view == 'pagenotfound'"></app-page-not-found>