
<div *ngIf="productos === undefined" class="loadingScreen fadeInNav">
    <div class="spinner-border text-primary" role="status">
    </div>
    <h3 class="text-white" [class.cargandoText]="lang == 'es'"
    [class.cargandoTextEng]="lang != 'es'">
        {{'ABMPRODUCTOS.LOADING' | translate}}
    </h3>
</div>


<div  *ngIf="productos !== undefined">
    
<div class="separator"> 
    {{'ABMPRODUCTOS.TITLE' | translate}}
</div>

<button class="btn btn-primary addButton" data-bs-toggle="modal" data-bs-target="#insertModal" (click)="openInsertModal()">
    <i class="fa fa-plus"></i>
    <span>
        {{'ABMPRODUCTOS.ADDPRODUCTO' | translate}}
    </span>
</button>

<div class="shadow tableMark border border-light">
    <h1 class="tableTitle text-decoration-underline">
        {{'ABMPRODUCTOS.TABLETITLE' | translate}}
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    {{'ABMPRODUCTOS.PRODUCTOSDESCRIPCION' | translate}}
                </th>
                <th scope="col">
                    {{'ABMPRODUCTOS.PRODUCTOSSUPPLIER' | translate}}
                </th>
                <th scope="col">
                    {{'ABMPRODUCTOS.PRODUCTOSSTOCK' | translate}}
                </th>
                <th scope="col">
                    {{'ABMPRODUCTOS.PRODUCTOSPRICE' | translate}}
                </th>
                <th scope="col">
                    {{'ABMPRODUCTOS.ACTIONS' | translate}}
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let data of productos | productosTableFilter: busquedavalue">
            <tr>
                <td scope="row">{{ data.id_producto }}</td>
                <td>{{ data.descripcion }}</td>
                <td>{{ data.proveedor }}</td>
                <td>{{ data.stock }}</td>
                <td>{{ data.importe }}</td>
                <td>
                    <button class="btn btn-danger btnBorrar" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    (click)="deleteOpen(data.id_producto)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-warning btnModificar" data-bs-toggle="modal" data-bs-target="#editModal"
                    (click)="modifyOpen(data.id_producto, data.descripcion, data.proveedor, data.stock, data.importe)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="separator"></div>



  
<!-- Modal de carga de productos -->
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
    <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">
            {{'ABMPRODUCTOS.ADDPRODUCTO' | translate}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
        <a *ngIf="errorTypes === 1">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{'ABMPRODUCTOS.LACKDESCRIPCION' | translate}}
        </a>
        <a *ngIf="errorTypes === 2">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{'ABMPRODUCTOS.LACKSUPPLIER' | translate}}
        </a>
        <a *ngIf="errorTypes === 3">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{'ABMPRODUCTOS.LACKSTOCK' | translate}}
        </a>
        <a *ngIf="errorTypes === 4">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{'ABMPRODUCTOS.LACKPRICE' | translate}}
        </a>
    </div>

    <form (ngSubmit)="insertProducto()">
        <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label text-white">
                        {{'ABMPRODUCTOS.PRODUCTOSDESCRIPCION' | translate}}
                    </label>
                    <input type="text" class="form-control" placeholder="{{'ABMPRODUCTOS.PRODUCTOSDESCRIPCION' | translate}}" 
                    name="descripcion"
                    [(ngModel)]="descripcion">
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">
                        {{'ABMPRODUCTOS.PRODUCTOSSUPPLIER' | translate}}
                    </label>
                    <select class="form-select mb-3" [(ngModel)]="id_proveedor" name="id_proveedor">
                        <option value="0">
                            {{'ABMPRODUCTOS.PRODUCTOSSELECTSUPPLIER' | translate}}
                        </option>

                        <option *ngFor="let prov of proveedores" value="{{ prov.id_proveedor }}">
                            {{ prov.razon_social_proveedor }}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label text-white">
                        {{'ABMPRODUCTOS.PRODUCTOSSTOCK' | translate}}
                    </label>
                    <input type="text" class="form-control" placeholder="{{'ABMPRODUCTOS.PRODUCTOSSTOCK' | translate}}"
                    name="stock" [(ngModel)]="stock">
                </div>

                <div class="mb-3">
                    <label class="form-label text-white">
                        {{'ABMPRODUCTOS.PRODUCTOSPRICE' | translate}}
                    </label>
                    <input type="text" class="form-control" placeholder="{{'ABMPRODUCTOS.PRODUCTOSPRICE' | translate}}"
                    name="importe"
                    [(ngModel)]="importe">
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                {{'ABMPRODUCTOS.CANCEL' | translate}}
            </button>
            <button type="button" class="btn btn-primary" type="submit">
                {{'ABMPRODUCTOS.ADD' | translate}}
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </form>
    </div>
    
</div>
</div>

<!-- Modal de modificar de productos -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
        <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">
                {{'ABMPRODUCTOS.MODIFYPRODUCTO' | translate}}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
            <a *ngIf="errorTypes === 1">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'ABMPRODUCTOS.LACKDESCRIPCION' | translate}}
            </a>
            <a *ngIf="errorTypes === 2">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'ABMPRODUCTOS.LACKSUPPLIER' | translate}}
            </a>
            <a *ngIf="errorTypes === 3">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'ABMPRODUCTOS.LACKSTOCK' | translate}}
            </a>
            <a *ngIf="errorTypes === 4">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'ABMPRODUCTOS.LACKPRICE' | translate}}
            </a>
        </div>
    
        <form (ngSubmit)="modifyProveedor()">
            <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMPRODUCTOS.PRODUCTOSDESCRIPCION' | translate}}
                        </label>
                        <input type="text" class="form-control" placeholder="{{'ABMPRODUCTOS.PRODUCTOSDESCRIPCION' | translate}}"
                        name="descripcion" [(ngModel)]="descripcion">
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMPRODUCTOS.PRODUCTOSSUPPLIER' | translate}}
                        </label>
                        <select class="form-select mb-3" [(ngModel)]="id_proveedor" name="id_proveedor">
                            <option value="0" disabled>
                                {{'ABMPRODUCTOS.PRODUCTOSSELECTSUPPLIER' | translate}}
                            </option>

                            <option *ngFor="let prov of proveedores" value="{{ prov.id_proveedor }}">
                                {{ prov.razon_social_proveedor }}
                            </option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMPRODUCTOS.PRODUCTOSSTOCK' | translate}}
                        </label>
                        <input type="text" class="form-control" placeholder="{{'ABMPRODUCTOS.PRODUCTOSSTOCK' | translate}}"
                        name="stock" [(ngModel)]="stock">
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-white">
                            {{'ABMPRODUCTOS.PRODUCTOSPRICE' | translate}}
                        </label>
                        <input type="text" class="form-control" placeholder="{{'ABMPRODUCTOS.PRODUCTOSPRICE' | translate}}"
                        name="importe" [(ngModel)]="importe">
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{'ABMPRODUCTOS.CANCEL' | translate}}
                </button>
                <button type="button" class="btn btn-warning" type="submit"> 
                    {{'ABMPRODUCTOS.MODIFY' | translate}}
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
        </form>
        </div>
        
    </div>
    </div>

    <!-- Modal de borrar de productos -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
        <div class="modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">
                {{'ABMPRODUCTOS.SURE' | translate}}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    
        <form (ngSubmit)="deleteProveedor()">
            <div class="modal-body">
                    <h3 class="text-white">
                        {{'ABMPRODUCTOS.SUREDELETE' | translate}}
                    </h3>
    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{'ABMPRODUCTOS.CANCEL' | translate}}
                </button>
                <button type="button" class="btn btn-danger" type="submit">
                    {{'ABMPRODUCTOS.DELETE' | translate}}
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </form>
        </div>
        
    </div>
    </div>
</div>
