<div class="separator"> 
    CRUD de productos
</div>

<button class="btn btn-primary addButton" data-bs-toggle="modal" data-bs-target="#insertModal" (click)="openInsertModal()">
    <i class="fa fa-plus"></i>
    <span> Agregar producto </span>
</button>

<div class="shadow tableMark border border-light">
    <h1 class="tableTitle text-decoration-underline">
        Tabla de productos
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Stock</th>
                <th scope="col">Importe</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of productos | productosTableFilter: busquedavalue">
            <tr>
                <td scope="row">{{ data.id_producto }}</td>
                <td>{{ data.descripcion }}</td>
                <td>{{ data.proveedor }}</td>
                <td>{{ data.stock }}</td>
                <td>{{ data.importe }}</td>
                <td>
                    <button class="btn btn-danger btnBorrar" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    (click)="deleteOpen(data.id_producto)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-warning btnModificar" data-bs-toggle="modal" data-bs-target="#editModal"
                    (click)="modifyOpen(data.id_producto, data.descripcion, data.proveedor, data.stock, data.importe)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="separator"></div>



  
<!-- Modal de carga de productos -->
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Cargar proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
        <a *ngIf="errorTypes === 1">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Falta completar el campo de nombre!
        </a>
        <a *ngIf="errorTypes === 2">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Falta completar el campo de teléfono!
        </a>
    </div>

    <form (ngSubmit)="insertProducto()">
        <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Descripcion del producto</label>
                    <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" [(ngModel)]="descripcion">
                </div>

                <select class="form-select mb-3" [(ngModel)]="id_proveedor" name="id_proveedor">
                    <option *ngFor="let prov of proveedores" value="{{ prov.id_proveedor }}">
                        {{ prov.razon_social_proveedor }}
                    </option>
                </select>

                <div class="mb-3">
                    <label class="form-label">Stock</label>
                    <input type="text" class="form-control" placeholder="Stock" name="stock" [(ngModel)]="stock">
                </div>

                <div class="mb-3">
                    <label class="form-label">Importe</label>
                    <input type="text" class="form-control" placeholder="Importe" name="importe" [(ngModel)]="importe">
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
            <button type="button" class="btn btn-primary" type="submit"> Cargar
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </form>
    </div>
    
</div>
</div>

<!-- Modal de modificar de productos -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Modificar productos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
            <a *ngIf="errorTypes === 1">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Falta completar el campo de nombre!
            </a>
            <a *ngIf="errorTypes === 2">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Falta completar el campo de teléfono!
            </a>
        </div>
    
        <form (ngSubmit)="modifyProveedor()">
            <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Descripcion del producto</label>
                        <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" [(ngModel)]="descripcion">
                    </div>

                    <select class="form-select mb-3" [(ngModel)]="id_proveedor" name="id_proveedor">
                        <option *ngFor="let prov of proveedores" value="{{ prov.id_proveedor }}">
                            {{ prov.razon_social_proveedor }}
                        </option>
                    </select>

                    <div class="mb-3">
                        <label class="form-label">Stock</label>
                        <input type="text" class="form-control" placeholder="Teléfono" name="stock" [(ngModel)]="stock">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Importe</label>
                        <input type="text" class="form-control" placeholder="Teléfono" name="importe" [(ngModel)]="importe">
                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
                <button type="button" class="btn btn-warning" type="submit"> 
                    Modificar
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
        </form>
        </div>
        
    </div>
    </div>

    <!-- Modal de borrar de productos -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Seguro que quiere borrar? </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
            <a *ngIf="errorTypes === 1">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Falta completar el campo de nombre!
            </a>
            <a *ngIf="errorTypes === 2">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Falta completar el campo de teléfono!
            </a>
        </div>
    
        <form (ngSubmit)="deleteProveedor()">
            <div class="modal-body">
                    <h3>Seguro que lo quiere borrar?</h3>
    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
                <button type="button" class="btn btn-danger" type="submit"> Eliminar
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </form>
        </div>
        
    </div>
    </div>