<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active">  {{ 'LOGINTAB.LOGIN' | translate }} </h2>
      <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle"
        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-language" aria-hidden="true"></i> 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item text-dark cursor-pointer"  (click)="changeLang('es')">🇪🇸 Spanish</a></li>
          <li><a class="dropdown-item text-dark cursor-pointer"  (click)="changeLang('en')">🇺🇸 English</a></li>
          <li><a class="dropdown-item text-dark cursor-pointer"  (click)="changeLang('de')">🇩🇪 Deutsch</a></li>
        </ul>
      </div>
  
      <div class="alert alert-danger errorLabel" role="alert" *ngIf="errorTypes !== 0">
        <a *ngIf="errorTypes === 1">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Ususario o contraseña incorrectos!
        </a>
      </div>
      <div class="alert alert-danger loadingLabel" role="alert" *ngIf="loading">
        <span class="loadingSign">{{ loadingMessage }}</span>
        <div class="spinner-border" role="status">
        </div>
      </div>

      <form (ngSubmit)="login()" class="mainForm">
        <h6 name = "indicatorl" id="indicatorl" style="color:red;"> </h6>
        <input type="text" class="fadeIn second" placeholder="{{ 'LOGINTAB.USERNAME' | translate }}" name="user" [(ngModel)]="user">

        <input type="password" class="fadeIn third" name="password" placeholder="{{ 'LOGINTAB.PASSWORD' | translate }}" [(ngModel)]="password">

        <input type="submit" style="cursor: pointer;" class="fadeIn fourth sessionStart" value="{{ 'LOGINTAB.LOGIN' | translate }}">

        <button type="button" class="btn btn-danger backbtn fadeIn fourth"  onclick="history.back()" 
        style="position: absolute; top:10; left:10;">
          {{ 'LOGINTAB.GOBACK' | translate }}
       </button>
      </form>
    </div>
</div>