<div class="separator"> 
    Historico de ventas
</div>


<div class="shadow tableMark border border-light">
    <h1 class="tableTitle text-decoration-underline">
        Tabla de historial de ventas
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Forma de pago</th>
                <th scope="col">Fecha</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody *ngFor="let data of ventas | localidadesFilter: busquedavalue">
            <tr>
                <td scope="row">{{ data.id_venta }}</td>
                <td>{{ data.cliente }}</td>
                <td>{{ data.forma_pago }}</td>
                <td>{{ data.fecha_final }}</td>
                <td>
                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="openModal(data.id_venta)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Detalle de venta </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of detalleventasfiltered">
                <tr>
                    <td scope="row">{{ data.id_venta }}</td>
                    <td>{{ data.producto }}</td>
                    <td>{{ data.importe }}</td>
                    <td>{{ data.cantidad }}</td>
                    <td>{{ data.importe_r }}</td>
                </tr>
            </tbody>
        </table>

        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
        </div>
    </div>
</div>
</div>
</div>