@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  